*.pyc
__pycache__/
.env
.envrc
*.db
*.log
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*.egg-info/
.envrc
.env
venv/
.env*/
*.bak
*.old
*.out
*.pid
*.sock
*.tar
*.tar.gz
*.zip
*.egg
*.h5
*.pkl
*.sqlite3
node_modules/
dist/
build/
logs/
minikube/

